body {
    background-color: #17191b;
  color: #efeaea;
}


.heading {
    margin-top: 50px;
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sub-heading {
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
   font-size: 30px;
}

.green {
    color: rgb(50, 196, 165);
}

.summary {
    padding-top: 10px;
    padding-left: 0px;
    color: rgba(255, 255, 255, 0.551);
}

.basic-info {
    padding-left: 10px;
    padding-top: 30px;
}

@media screen and (min-width: 768px) {
    .know-me {
        display: grid;
        grid-template-columns: 4fr 3fr;
        text-align: left;
        font-size: 20px;
    }

    .summary {
        padding-right: 30px;
    }
  }