.skill-icons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skill-icons img {
    margin-bottom: 20px;
}

.cards {
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mantine-Paper-root {
    width: 300px;
    
    background-color: #050606!important;
    color: #fbf4f4;
}

.mantine-40wc5d {
    margin-bottom: 30px;
}

